{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}


		<div class="user_summary">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<figure>
								{% if user.profile_pic %}
									<img src="{{user.profile_pic.url}}" alt="">
								{% else %}
								<img src="{% static 'dashboard/images/user-profile.png' %}" alt="">
								{% endif %}
							</figure>
							<h1>{{user.username}}</h1>
							<span>{{user.email}}</span>
							<br/>
								<br/>
								<a href="{% url 'edit_profile' %}" class="btn_top">Edit Profile</a>
								<a href="{% url 'business:your_businesses' %}" class="btn_top">View Your Businesses</a>
						</div>
						<div class="col-md-6">
							<ul>
								<li>
									<strong>{{reviews.count}}</strong>
									<a href="#0" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Reviews written by you"><i class="icon_star"></i> Reviews</a>
								</li>
								<!-- <li>
									<strong>12</strong>
									<a href="#0" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Number of people who have read your reviews"><i class="icon-user-1"></i> Reads</a>
								</li>
								<li>
									<strong>36</strong>
									<a href="#0" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Number of people who found your review useful"><i class="icon_like_alt"></i> Useful</a>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
				<!-- /container -->
			</div>
		</div>
		<!-- /user_summary -->
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-8">
					{% for x in reviews %}
					<div class="review_card">
						<div class="row">
							<div class="col-md-2 user_info">
								<a href="{% url 'business' business_id=x.business.id page=1 %}">
								{% if x.business.image %}
								<figure><img src="{{x.business.image.url}}" alt=""></figure>
								{% else %}
								<figure><img src="img/avatar4.jpg" alt=""></figure>
								{% endif %}</a>
								<h5>Business : {{x.business.name}}</h5>
							</div>
							<div class="col-md-10 review_content">
								<div class="clearfix add_bottom_15">
									<span class="rating">
										{% if x.rating == 1 %}
										
										<i class="icon_star"></i>
										{% elif x.rating == 2 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% elif x.rating == 3 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% elif x.rating == 4 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% elif x.rating == 5 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% elif x.rating > 5 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% endif %}
		
		
										<em>{{x.rating}}/5</em></span>
									
									<em>Published: {{x.created_at}}</em>
								</div>
								<h4>"{{x.review}}"</h4>
								<p>{{x.content}}</p>
								<ul>
									<li><a href="#0" class="btn_delete"><i class="icon-trash"></i>Delete</a></li>
									<li><a href="#0"><i class="icon-edit-3"></i> Edit</a></li>
								</ul>
							</div>
						</div>
						<!-- /row -->
						<div style="padding-left: 3rem;">
							{% for z in x.reviewcomment_set.all %}
						<div class="row reply">
							<div class="col-md-1 user_info">
								<figure>
								{% if z.user.profile_pic %}
									<img src="{{z.user.profile_pic.url}}" alt="">
									{% else %}
										<img src="{% static 'main/images/user_avatar.png' %}" alt="">
									{% endif %}</figure>
							</div>
							<div class="col-md-10">
								
								<div class="review_content">
									<strong>Reply from {{z.user.username}}</strong>
									<em>Published {{z.created_at}}</em>
									<p>{{z.comment}}</p>
								</div>
							</div>
							
						</div>{% endfor %}
						<!-- /row --></div>
					</div>
					<!-- /review_card -->
					{% endfor %}
				</div>
				<!-- /col -->
				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->

	<!--/main-->
	{% endblock %}