{% extends "main/base.html" %}
{% load static %}
{% block content %}

	
		<div class="bg_color_1">
			<div class="container margin_60_35">
				<div class="main_title_3 text-center">
					<h2>All Categories</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-10 col-lg-12">
						<div class="all_categories clearfix add_bottom_30">
							<ul>
								{% for x in catergories %}
								<li><a href="{% url 'businesslist' x.name %}"><strong>{{x.id}}</strong>{{x.name}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		



{% endblock %}