{% extends "main/base2.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}

		<div id="results">
		   <div class="container">
			   <div class="row justify-content-between">
				   <div class="col-lg-3 col-md-4 col-10">
					   <h1><strong>{{results}}</strong> result for "{{catergory}}"</h1>
				   </div>
				   <div class="col-xl-5 col-md-6 col-2"><form method="post" action="{% url 'businesslist' 'all' %}">
					{% csrf_token %}
					   <a href="#0" class="search_mob btn_search_mobile"></a> <!-- /open search panel -->
						<div class="row g-0 custom-search-input-2 inner">
							
								
							<div class="col-lg-7">
								<div class="form-group">
									<input class="form-control" type="text" value="" name="search_text"  placeholder="Search reviews for a company">
									<i class="icon_search"></i>
								</div>
							</div>
							<div class="col-lg-4">
								<select class="wide" name="catergory">
									<option value="all">All Categories</option>	
									{% for x in catergories %}
									<option value="{{x.name}}">{{x.name}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-xl-1 col-lg-1">
								<input type="submit" value="Search">
							</div>
							
						</div></form>
				   </div>
			   </div>
			   <!-- /row -->
				<div class="search_mob_wp">
					<div class="custom-search-input-2">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Search reviews...">
							<i class="icon_search"></i>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Where">
							<i class="icon_pin_alt"></i>
						</div>
						<select class="wide">
							<option>All Categories</option>	
							<option>Shops</option>
							<option>Hotels</option>
							<option>Restaurants</option>
							<option>Bars</option>
							<option>Events</option>
							<option>Fitness</option>
						</select>
						<input type="submit" value="Search">
					</div>
				</div>
				<!-- /search_mobile -->
		   </div>
		   <!-- /container -->
	   </div>
	   <!-- /results -->
		
		<!-- <div class="filters_listing sticky_horizontal">
			<div class="container">
				<ul class="clearfix">
					<li>
						<div class="switch-field">
							<input type="radio" id="all" name="listing_filter" value="all" checked data-filter="*" class="selected">
							<label for="all">All</label>
							<input type="radio" id="high" name="listing_filter" value="high" data-filter=".high">
							<label for="high">High rated</label>
							<input type="radio" id="low" name="listing_filter" value="low" data-filter=".low">
							<label for="low">Low rated</label>
						</div>
					</li>
					<li><a class="btn_filt" data-bs-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters" data-text-swap="Less filters" data-text-original="More filters">More filters</a></li>
				</ul>
			</div>
	
		</div>

		
		<div class="collapse" id="filters">
			<div class="container margin_30_5">
				<div class="row">
					<div class="col-md-4">
						<h6>Rating</h6>
						<ul>
							<li>
								<label class="container_check">Superb 9+ <small>67</small>
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</li>
							<li>
								<label class="container_check">Very Good 8+ <small>89</small>
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</li>
							<li>
								<label class="container_check">Good 7+ <small>45</small>
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</li>
							<li>
								<label class="container_check">Pleasant 6+ <small>78</small>
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<h6>Tags</h6>
						<ul>
							<li>
								<label class="container_check">Soluta mei <small>12</small>
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</li>
							<li>
								<label class="container_check">Enim suscipit  <small>11</small>
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</li>
							<li>
								<label class="container_check">Duis veri <small>23</small>
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</li>
							<li>
								<label class="container_check">Dicunt nam <small>56</small>
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<div class="add_bottom_30">
						<h6>Distance</h6>
							<div class="distance"> Radius around selected destination <span></span> km</div>
							<input type="range" min="10" max="100" step="10" value="30" data-orientation="horizontal">
						</div>
					</div>
				</div>
		
			</div>
		</div> -->


		<div class="container margin_60_35">
			
			<div class="isotope-wrapper">
				{% for x in paginatedBusinesses %}
				<div class="company_listing isotope-item high">
					<div class="row">
						<div class="col-md-9">
							<div class="company_info">
								<figure><a href="{% url 'business' business_id=x.id page=1 %}">

									{% if x.image %}
									<img src="{{x.image.url}}" alt="{{ x.name }}">
									{% else %}
										<img src="{% static 'main/images/business_single_img.jpg' %}" alt="{{ x.name }}">
									{% endif %}
								
								</a></figure>
								<h3>{{x.name}}</h3>
								<p>{{x.description}}</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="text-center float-lg-end">
								<span class="rating">
									
										{% if x.avg_rating >= 5 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% elif x.avg_rating >= 4 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% elif x.avg_rating >= 3 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% elif x.avg_rating >= 2 %}
										<i class="icon_star"></i>
										<i class="icon_star"></i>
										{% elif x.avg_rating >= 1 %}
										
										<i class="icon_star"></i>
										
										{% endif %}

	
	
									<em>{{x.avg_rating}}/5</em></span>
							
								<a href="{% url 'business' business_id=x.id page=1 %}" class="btn_1 small">View Business</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /company_listing -->
				{% endfor %}
				
			
			</div>
			<!-- /isotope-wrapper -->
			
<!-- {% if paginatedBusinesses.has_other_pages %}
  <ul class="pagination">
    {% if paginatedBusinesses.has_previous %}
      <li><a href="?page={{ paginatedBusinesses.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginatedBusinesses.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ paginatedBusinesses.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %} -->
<center>
<ul class="pagination">

{% if paginatedBusinesses.has_previous %}
<li class="page-item">
  <a  href="?page={{page |sub:1}}" tabindex="-1">Previous</a>
  <li class="active"><a class="page-link" href="?page={{page |sub:1}}">{{page|sub:1}}</a></li>
</li>
{% endif %}

{% if paginatedBusinesses.has_next  %}
<li class="page-item">
  
<li class="active"><a  href="#">{{page}}</a></li>
<li class="active""><a  href="?page={{page |add:1}}">{{page|add:1}}</a></li>
  
</li>
<li class="active"><a  href="?page={{page |add:1}}">Next</a></li>
{% endif %}
</ul>
		</center>	
		</div>
		<!-- /container -->
		

	<!--/main-->


	{% endblock %}