{% extends "main/base.html" %}
{% load static %}
{% block content %}
	<main>
		<section class="hero_single version_1">
			<div class="wrapper">
				<div class="container">
					<h3>Every Review is an Experience!</h3>
					<p>Check Ratings of Businesses, Read Reviews &amp; Buy</p>
					<div class="row justify-content-center">
						<div class="col-lg-9">
						<form method="post" action="grid-listings-filterstop.html">
							<div class="row g-0 custom-search-input-2">
								<div class="col-lg-7">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="What are you looking for...">
										<i class="icon_search"></i>
									</div>
								</div>
								<div class="col-lg-3">
									<select class="wide">
										<option>All Categories</option>
										<option>Shops</option>
										<option>Hotels</option>
										<option>Restaurants</option>
										<option>Bars</option>
										<option>Events</option>
										<option>Fitness</option>
									</select>
								</div>
								<div class="col-lg-2">
									<input type="submit" value="Search">
								</div>
							</div>
							<!-- /row -->
						</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="container margin_60_35">
			<div class="main_title_3">
					<h2>Top Categories</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					<a href="all-categories.html">View all</a>
				</div>
			<div class="row justify-content-center">
				{% for x in catergories %}
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							{% if x.picture %}
							<img src="{{x.picture.url}}" alt=" ">
							{% endif %}
							<div class="info">
								<small>{{x.description}}</small>
								<!-- <em><i class="icon-comment"></i> 356 Reviews</em> -->
								<h3>{{x.name}}</h3>
							</div>
						</figure>
					</a>
				</div>
				{% endfor %}
				<!-- /grid_item -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->

		<div class="bg_color_1">
		<div class="container margin_60">
			<div class="main_title_3">
				<h2>Latest Reviews</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				<a href="reviews-page.html">View all</a>
			</div>

			<div id="reccomended" class="owl-carousel owl-theme">
				{% for x in reviews %}
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="img/avatar1.jpg" alt=""></figure>
							<span class="rating">
								{% if x.rating == 1 %}
								
								<i class="icon_star"></i>
								{% elif x.rating == 2 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% elif x.rating == 3 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% elif x.rating == 4 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% elif x.rating == 5 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% elif x.rating > 5 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% endif %}


								<em>{{x.rating}}/5</em></span>
							<small>Shops</small>
						</div>
						<h3><strong>{{x.user.username}}</strong> reviewed <a href="reviews-page.html">{{x.business}}</a></h3>
						<h4>"{{x.review}}"</h4>
						
						<ul class="clearfix">
							<li><small>Published: {{x.created_at}}</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
						</ul>
					</div>
				</div>
				{% endfor %}
			
			</div>
			<!-- /carousel -->
		</div>
		<!-- /container -->
		</div>
		<!-- /bg_color_1 -->

		<div class="call_section_3">
			<div class="wrapper">
				<div class="container clearfix">
					<div class="col-lg-5 col-md-7 float-end">
						<h3>Let's Help You</h3>
						<p>Vanno is a review platform open to everyone. Share your experiences to help others make better choices, and help companies up their game. Our mission is to bring people and companies together to create experiences for everyone.</p>
						<p><a class="btn_1 add_top_10 wow bounceIn" href="pricing.html" data-wow-delay="0.5s">Join Vanno Now!</a></p>
					</div>
				</div>
				<!-- /container -->
			</div>
		</div>
		<!-- /call_section -->

	</main>
	<!-- /main -->

	{% endblock %}