{% extends "main/base.html" %}
{% load static %}
{% block content %}

		<section class="hero_single version_2">
			<div class="wrapper">
				<div class="container">
					<div class="row justify-content-center pt-lg-5">
						<div class="col-xl-5 col-lg-6">
							<h3>Every Review<br>is an Experience!</h3>
							<p>Check Ratings of Businesses, Read Reviews &amp; Buy</p>
							<form method="post" action="{% url 'businesslist' 'all' %}">
								{% csrf_token %}
								<div class="custom-search-input-2">
									<div class="form-group">
										<input class="form-control" type="text" value="" name="search_text" placeholder="What are you looking for...">
										<i class="icon_search"></i>
									</div>
									<select class="wide" name="catergory">
										<option value="all">All Categories</option>	
										{% for x in catergories %}
										<option value="{{x.name}}">{{x.name}}</option>
										{% endfor %}
									</select>
									<input type="submit" value="Search">
								</div>
							</form>
						</div>
						<div class="col-xl-5 col-lg-6 text-end d-none d-lg-block">
							<img src="{% static 'main/img/graphic_home_2.svg' %}" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="container margin_60_35">
			<div class="main_title_3">
					<h2>Top Categories</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					<a href="{% url 'catergories' %}">View all</a>
				</div>
			<div class="row justify-content-center">
				{% for x in catergories %}
			
				<div class="col-lg-3 col-sm-6">
					<a href="{% url 'businesslist' x.name %}" class="grid_item">
						<figure>
							{% if x.picture %}
							<img src="{{x.picture.url}}" alt=" ">
							{% endif %}
							<div class="info">
								<small>{{x.description}}</small>
								<!-- <em><i class="icon-comment"></i> 356 Reviews</em> -->
								<h3>{{x.name}}</h3>
							</div>
						</figure>
					</a>
				</div>
				{% endfor %}
				<!-- /grid_item -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->

		<div class="bg_color_1">
		<div class="container margin_60">
			<div class="main_title_3">
				<h2>Latest Reviews</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				<a href="{% url 'businesslist' 'all' %}">View all</a>
			</div>

			<div id="reccomended" class="owl-carousel owl-theme">
				{% for x in reviews %}
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="img/avatar1.jpg" alt=""></figure>
							<span class="rating">
								{% if x.rating == 1 %}
								
								<i class="icon_star"></i>
								{% elif x.rating == 2 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% elif x.rating == 3 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% elif x.rating == 4 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% elif x.rating == 5 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% elif x.rating > 5 %}
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								<i class="icon_star"></i>
								{% endif %}


								<em>{{x.rating}}/5</em></span>
							<!-- <small>Shops</small> -->
						</div>
						<h3><strong>{{x.user.username}}</strong> reviewed <a href="reviews-page.html">{{x.business}}</a></h3>
						<h4>"{{x.review}}"</h4>
						
						<ul class="clearfix">
							<li><small>Published: {{x.created_at}}</small></li>
							<li><a href="{% url 'business' business_id=x.business.id page=1 %}" class="btn_1 small">Read review</a></li>
						</ul>
					</div>
				</div>
				{% endfor %}
			
			</div>
			<!-- /carousel -->
		</div>
		<!-- /container -->
		</div>
		<!-- /bg_color_1 -->

		<div class="call_section">
			<div class="container margin_80_55">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6">
						<img alt="" class="img-fluid" src="{% static 'main/img/graphic_home_1.svg' %}">
					</div>
					<div class="col-xl-5 col-lg-6 pt-lg-5">
						<h3>Let's Help You</h3>
						<p>Vanno is a review platform open to everyone. Share your experiences to help others make better choices, and help companies up their game. Our mission is to bring people and companies together to create experiences for everyone.</p>
						<p><a class="btn_1 add_top_10 wow bounceIn" href="{% url 'login' %}" data-wow-delay="0.5s">Join Vanno Now!</a></p>
					</div>
				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /call_section -->


	<!-- /main -->

	{% endblock %}